:root {
    --orange: #f15e3a;
    --navy: #08303e;
    --gray-light: #ededed;
    --gray: #939ca4;
    --gray-dark: #6d6d6d;
    --gray-black: #2b2728;
    --white: #fff;
    --black: #333333;
    --font-heading: "Oswald", sans-serif;
    --font-sans-serif: "Karla", sans-serif;
    --font-about: "Helvetica", sans-serif;
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/** typography **/

body {
    font-family: var(--font-sans-serif);
    color: var(--black);
}

h1, h2, h3 {
    font-family: var(--font-heading);
    font-weight: 700;
    text-transform: uppercase;
}

a {
    color: var(--black);
}

img {
    max-width: 100%;
    display: block;
}

/** components **/

.component img {
    max-width: initial;
}

.component__img {
    border: 1px solid var(--gray-black);
    overflow-x: auto; 
}

.component__code {
    border: 1px solid var(--gray-black);
}