<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400&family=Oswald:wght@400;700&display=swap" rel="stylesheet"> 
    <title>Components - Pastaria</title>
</head>
<body>
    <h1>Web Components</h1>
    <p>This is a collection of components based on my study of the design system of the <a href="https://eatpastaria.com/stlouis/">Pastaria</a> website.</p>
    <h2>Typography</h2>
    <article class="component">
        <h3 class="component__name">body (main-nav, home, menu, and footer sections)</h3>
        <div class="component__img">
            <img src="img/main-nav__list-item.png" alt="body copy" srcset="img/main-nav__list-item.png 2x">
            <img src="img/main__list-item.png" alt="body copy" srcset="img/main__list-item.png 2x">
            <img src="img/main__table-item.png" alt="body copy" srcset="img/main__table-item.png 2x">
            <img src="img/main__body.png" alt="body copy" srcset="img/main__body.png 2x">
            <img src="img/menu__section-item--description.png" alt="body copy" srcset="img/menu__section-item--description.png 2x">
            <img src="img/footer__section.png" alt="body copy" srcset="img/footer__section.png 2x">
        </div>
        <div class="component__code">
            <p class="main main-nav">Home</p>
            <p class="main">Order Online</p>
            <p class="main main__table">Wednesday &#8211; Monday</p>
            <p>Book now on <a href="#">Tock.</a></p>
            <p class="menu menu__item-description">with braised kale, garlic croutons, lemon, capers, white wine</p>
            <p class="footer">Your favorite Pastaria dishes are now available for delivery by DoorDash.</p>
        </div>
    </article>
    <article class="component">
        <h3 class="component__name">headings (h1, h2, h3...)</h3>
        <div class="component__img">
            <img src="img/header__nav-item--white.png" alt="header" srcset="img/header__nav-item--white.png 2x">
            <img src="img/main__heading--orange.png" alt="header" srcset="img/main__heading--orange.png 2x">
            <img src="img/footer__section-heading.png" alt="header" srcset="img/footer__section-heading.png 2x">
        </div>
        <div class="component__code">
            <h2>St. Louis</h2>
            <h3>Now accepting reservations!</h3>
            <h4>Delicious food, delivered.</h4>
        </div>
    </article>
</body>
</html>